:root {
  --bg: #f4f6f8;
  color: light-dark(var(--grey-850), var(--grey-050));
  --muted: hsl(0, 0%, 88%);
  --muted-2: hsl(0, 0%, 90%);
  --row-alt: hsl(0, 0%, 96%);
  --shadow: rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0 0 12px;
  color: var(--accent-color);
}

/* ******** TABLEAU ******** */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background: light-dark(var(--grey-200), var(--grey-850));
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

th.sort-asc::after {
  content: " ▲";
  font-size: 12px;
  color: var(--grey-900);
}

th.sort-desc::after {
  content: " ▼";
  font-size: 12px;
  color: var(--grey-900);
}

tbody tr:nth-child(even) td {
  background: var(--card-bg-even);
}

tbody tr {
  border-bottom: 1px solid var(--border-color);
  transition: box-shadow 0.2s ease;
}

tbody tr:hover {
  box-shadow: 0 0 3px 2px var(--shadow);
}

td a {
  color: var(--accent-color);
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* ******** OUTILS ******** */

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin: 2rem 1rem;
}

.spacer {
  flex: 1 1 auto;
}

label,
select {
  font-size: 14px;
}

select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 2rem 0;
}

.tag {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: light-dark(var(--grey-150), var(--grey-850));
  color: light-dark(var(--grey-700), var(--grey-300));
  cursor: pointer;
}

.tag.active {
  background: var(--accent-color);
  /* color: #fff; */
  color: light-dark(var(--grey-050), var(--grey-900));
}

.table-wrap {
  background-color: var(--card-bg);
  color: light-dark(var(--grey-800), var(--grey-200));
  border-radius: 6px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  box-shadow: 0 2px 6px 2px var(--shadow);
}

/* ******** SEARCH ******** */

.search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#search-input {
  width: 100%;
  padding: 12px 32px 12px 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#search-input::placeholder {
  color: #999;
}

#search-input:focus::placeholder {
  color: transparent;
}

#clear-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  line-height: 1;
}

#clear-search svg {
  transition: transform 0.2s ease, stroke 0.2s ease;
}

#clear-search:hover svg {
  transform: scale(1.5);
}

#clear-search:hover svg path {
  stroke: #ff0000;
}

/* ******** PAGINATION ******** */

#pagination {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.page-btn {
  padding: 6px 10px;
  background: var(--accent-color-muted);
  color: light-dark(var(--grey-900), var(--grey-050));
  font-size: 1rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.page-btn[disabled] {
  background: var(--accent-color-muted);
  color: light-dark(var(--grey-400), var(--grey-500));
  cursor: default;
}

.page-num {
  background: var(--accent-color-muted);
  color: light-dark(var(--grey-900), var(--grey-050));
  font-weight: bold;
}

.page-num.active {
  background: var(--accent-color-muted);
  color: light-dark(var(--grey-900), var(--grey-050));
  font-weight: bold;
  font-size: 1.5rem;
}

.status {
  margin-top: 1rem;
  color: light-dark(var(--grey-800), var(--grey-200));
  font-size: 0.9em;
  text-align: center;
}

/* ***************************** */
