/* ===================================
   LISTE.CSS - Table Page Specific Styles
=================================== */

/* ******** TABLEAU ******** */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background: light-dark(var(--grey-200), var(--grey-850));
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

th.sort-asc::after {
  content: " ▲";
  font-size: 12px;
  color: var(--grey-900);
}

th.sort-desc::after {
  content: " ▼";
  font-size: 12px;
  color: var(--grey-900);
}

tbody tr:nth-child(even) td {
  background: var(--card-bg-even);
}

tbody tr {
  border-bottom: 1px solid var(--border-color);
  transition: box-shadow 0.2s ease;
}

tbody tr:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

td a {
  color: var(--accent-color);
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.table-wrap {
  background-color: var(--card-bg);
  color: light-dark(var(--grey-800), var(--grey-200));
  border-radius: 6px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}